In [56]:
import plotly.express as px
import sqlite3
import pandas as pd

# Load dataurl
url='free'
conn = sqlite3.connect('testt.sqlite3')

query = f"SELECT website_inverted_index.websiteID,website_inverted_index.frequency,website_inverted_index.index_id,keyword.word  FROM website_inverted_index JOIN keyword ON website_inverted_index.index_id = keyword.index_id JOIN websites ON websites.websiteID = website_inverted_index.websiteID WHERE word = '{url}'"
df = pd.read_sql_query(query, conn)
# Create the plot
df.head()
# fig = px.choropleth(df, locations="countryISO", color="frequency",
#                      hover_name="country",
#                      projection="natural earth")

# # # Show the plot
# fig.show()

   websiteID  frequency  index_id  word
0          9          2      6012  free
1         10          4      6012  free
2         11          3      6012  free
3         12          5      6012  free
4         14          4      6012  free

In [40]:
import plotly.express as px
import sqlite3
import pandas as pd

# Load dataurl
url='cart'
conn = sqlite3.connect('testt.sqlite3')
cursor=conn.cursor()
cursor.execute(f"SELECT website_inverted_index.index_id,website_inverted_index.frequency,keyword.word ,website_inverted_index.websiteID FROM website_inverted_index JOIN keyword ON website_inverted_index.index_id = keyword.index_id JOIN websites ON websites.websiteID = website_inverted_index.websiteID WHERE word = '{word}'")
wordinweb=cursor.fetchall()
for index_id,frequency in enumerate(wordinweb):
    print(frequency)

(49573, 1, 'cart', 58)
(49573, 1, 'cart', 59)
(49573, 2, 'cart', 66)
(49573, 3, 'cart', 100)
(49573, 4, 'cart', 110)
(49573, 2, 'cart', 139)
(49573, 1, 'cart', 152)
(49573, 2, 'cart', 160)
(49573, 2, 'cart', 190)

In [11]:
import plotly.express as px
import sqlite3
import pandas as pd


# Load data
conn = sqlite3.connect('testt.sqlite3')
query = "SELECT websites.websiteID,websites.URL,websites.title,Country.country_id, Country.country, Country.countryISO, SUM(Website_country.frequency) as frequency_sum FROM Country INNER JOIN Website_country ON Country.country_id = Website_country.wc_id JOIN websites ON Website_country.website_id = websites.websiteID  WHERE websites.websiteID IN (1,2,3) GROUP BY Country.country_id, Country.country, Country.countryISO  "
df = pd.read_sql_query(query, conn)
df.head()
# fig = px.choropleth(df, locations="countryISO", color="frequency_sum",
#                      hover_name="country",
#                      projection="natural earth")

# # # Show the plot
# fig.show()

,websiteID,URL,title,country_id,country,countryISO,frequency_sum
0,1,https://southpark.fandom.com/wiki/South_Park_A...,South Park Archives | Fandom,1,indonesia,IDN,1

In [19]:
import plotly.express as px
import sqlite3
import pandas as pd

conn = sqlite3.connect('testt.sqlite3')

word='cart'
query="SELECT website_inverted_index.index_id,website_inverted_index.frequency,keyword.word FROM website_inverted_index JOIN keyword ON website_inverted_index.index_id = keyword.index_id WHERE word = cart"
df = pd.read_sql_query(query, conn)
df.head()
# fig = px.choropleth(df, locations="countryISO", color="frequency_sum",
#                     hover_name="country",
#                     projection="natural earth")
# fig.show()

DatabaseError: Execution failed on sql 'SELECT website_inverted_index.index_id,website_inverted_index.frequency,keyword.word FROM website_inverted_index JOIN keyword ON website_inverted_index.index_id = keyword.index_id WHERE word = cart': no such column: cart

In [ ]:
query = "SELECT websites.websiteID,websites.URL,websites.title,Country.country_id, Country.country, Country.countryISO, SUM(Website_country.frequency) as frequency_sum FROM Country INNER JOIN Website_country ON Country.country_id = Website_country.wc_id JOIN websites ON Website_country.website_id = websites.websiteID  WHERE websites.URL IN ({}) GROUP BY Country.country_id, Country.country, Country.countryISO  ".format(','.join(str(i)for i in dum ))